# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @forcedotcom/pdt will be requested for
# review when someone opens a pull request.
*       @forcedotcom/pdt
#ECCN:Open Source