node_modules/
dist/
*.tgz
*.sig
npm-debug.log
yarn-error.log
.npm
.idea
.DS_Store
xunit.xml
tmp
.aws/
.nvm-node
package-lock.json
*.tgz
*.sig
.history
coverage/
checkstyle.xml
.sfdx
/release/
src/temp
.nyc_output
oclif.manifest.json
npm-shrinkwrap.json

# For deprecation test to ignore user installed plugins
Library
