# -- CLEAN

# use yarn by default, so ignore npm
package-lock.json

# never checkin npm config
.npmrc

# debug logs
npm-error.log
yarn-error.log
lerna-debug.log

# compile source
lib

# test artifacts
*xunit.xml
*checkstyle.xml
*unitcoverage
.nyc_output
coverage

# generated docs
docs

# -- CLEAN ALL
node_modules

# --
# put files here you don't want cleaned with sf-clean
node_modules/
dist/
*.tgz
*.sig
npm-debug.log
.npm
xunit.xml
tmp
.aws/
.nvm-node
.history
coverage/
checkstyle.xml
.sfdx
.cache
/release/
src/temp
oclif.manifest.json
npm-shrinkwrap.json
Library

# os specific files
.DS_Store
.idea
