---
version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4

jobs:
  test-package: &test-package
    parameters:
      node_version:
        description: version of node to run tests against
        type: string
        default: latest
    executor:
      name: release-management/linux
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-npm-{{checksum ".circleci/config.yml"}}-{{checksum "yarn.lock"}}
            - v1-npm-{{checksum ".circleci/config.yml"}}
      - release-management/pin-dependencies:
          tag: latest-rc
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Build
          command: yarn build
      - save_cache:
          key: v1-npm-{{checksum ".circleci/config.yml"}}-{{checksum "yarn.lock"}}
          paths:
            - ~/node_modules
            - /usr/local/share/.cache/yarn
            - /usr/local/share/.config/yarn
      - release-management/verify-installed-plugin
      - run:
          name: Testing
          command: yarn test

  pack-and-upload-tarballs: &pack-and-upload-tarballs
    docker:
      - image: node:latest
    resource_class: xlarge
    working_directory: ~/project
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install -y p7zip-full
      - run: yarn install
      - run: yarn pack:tarballs
      - run: yarn upload:tarballs

  promote-stable-rc:
    docker:
      - image: node:latest
    working_directory: ~/project
    steps:
      - checkout
      - run: yarn install
      - run: ./scripts/promote-stable-rc

  promote-channels:
    docker:
      - image: node:latest
    working_directory: ~/project
    steps:
      - checkout
      - run: yarn install
      - run: ./scripts/promote

  pack-and-upload-macos-installer:
    macos:
      xcode: 10.3.0
    resource_class: xlarge
    working_directory: ~/project
    steps:
      - checkout
      - run: yarn install
      - run: yarn pack:macos
      - run: yarn upload:macos

  pack-and-upload-windows-installer:
    <<: *pack-and-upload-tarballs
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install -y p7zip-full \
            osslsigncode \
            nsis
      - run: yarn install
      - run: |
          echo $WINDOWS_SIGNING_KEY > ./tmp/signing.key
      - run: yarn pack:win
      - run: yarn upload:win

workflows:
  version: 2.1
  release:
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: main
      - test-package:
          name: node-latest
          node_version: latest
      - test-package:
          name: node-14
          node_version: '14'
      - test-package:
          name: node-12
          node_version: '12'
      #- test-package:
      #    name: node-10
      #    node_version: '10'
      - approval:
          type: approval
          requires:
            - node-latest
            - node-14
            - node-12
            #- node-10
          filters:
            branches:
              only:
                - main
      - release-management/release-package:
          tag: latest-rc
          pre-job-steps:
            - release-management/pin-dependencies:
                tag: latest-rc
          github-release: true
          requires:
            - approval
          filters:
            branches:
              only:
                - main
      - pack-and-upload-tarballs:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
      - pack-and-upload-macos-installer:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
      - pack-and-upload-windows-installer:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
      - promote-stable-rc:
          filters:
            branches:
              only:
                - main
          requires:
            - pack-and-upload-tarballs
            - pack-and-upload-macos-installer
            - pack-and-upload-windows-installer
      - promote-channels:
          filters:
            branches:
              only:
                - main
