---
version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4.8

jobs:
  # There are two pack jobs:
  # - test-pack-tarballs to run on every branch *other than main*
  # - pack-and-upload-tarballs to run only on main
  # The persise_to_workspace feature would allow use to have a
  # pack-tarballs and an upload-tarballs job, but the perf gains
  # is minimal since the workspace is almost a GB to attach.
  test-pack-tarballs:
    docker:
      - image: node:latest
    resource_class: xlarge
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install -y p7zip-full
      - restore_cache:
          keys:
            - v3-node-{{ checksum "NODE_VERSION.md" }}
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: yarn pack:tarballs
      - save_cache:
          key: v3-node-{{ checksum "NODE_VERSION.md" }}
          paths:
            - tmp/cache
            - tmp/node
      - run: yarn pack:verify
      - run: yarn test-smoke-unix

  pack-and-upload-tarballs: &pack-and-upload-tarballs
    docker:
      - image: node:latest
    resource_class: xlarge
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install -y p7zip-full
      - restore_cache:
          keys:
            - v3-node-{{ checksum "NODE_VERSION.md" }}
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: yarn pack:tarballs
      - save_cache:
          key: v3-node-{{ checksum "NODE_VERSION.md" }}
          paths:
            - tmp/cache
            - tmp/node
      - run: yarn pack:verify
      - run: yarn test-smoke-unix
      - run: yarn upload:tarballs

  pack-and-upload-macos-installer:
    macos:
      xcode: 11.7.0
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-node-{{ checksum "NODE_VERSION.md" }}
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: yarn pack:macos
      - run: yarn upload:macos

  pack-and-upload-windows-installer:
    <<: *pack-and-upload-tarballs
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-node-{{ checksum "NODE_VERSION.md" }}
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: |
          apt-get update
          apt-get install -y p7zip-full \
            osslsigncode \
            nsis
      - run: yarn install
      - run: |
          echo $WINDOWS_SIGNING_KEY | base64 --decode > /tmp/windows-signing.pfx
          ls -la /tmp
      - run: DEBUG=* yarn pack:win
      - run: yarn upload:win

  promote-stable-rc-tarballs:
    docker:
      - image: node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: ./scripts/promote-stable-rc-tarballs
  promote-stable-rc-mac:
    docker:
      - image: node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: ./scripts/promote-stable-rc-mac
  promote-stable-rc-win:
    docker:
      - image: node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: ./scripts/promote-stable-rc-win

  promote-channels:
    docker:
      - image: node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: ./scripts/promote

workflows:
  version: 2.1
  test-and-release:
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: main
      - release-management/test-package:
          name: node-latest
          node_version: latest
      - release-management/test-package:
          name: node-14
          node_version: '14'
      - release-management/test-package:
          name: node-14-windows
          node_version: '14'
          os: windows
      - release-management/test-package:
          name: node-12
          node_version: '12'
      - test-pack-tarballs:
          # no point to pack if the test fail, and we only care to test the pack with the node version
          # we ship (specified in package.json.oclif.node)
          requires:
            - node-14
          filters:
            branches:
              ignore: main # test the pack on PRs, but main will do pack-and-upload-tarballs
      - approval:
          type: approval
          requires:
            - node-latest
            - node-14
            - node-12
          filters:
            branches:
              only:
                - main
      - release-management/release-package:
          tag: latest-rc
          pre-job-steps:
            - release-management/pin-dependencies:
                tag: latest-rc
          github-release: true
          requires:
            - approval
          filters:
            branches:
              only:
                - main
      - pack-and-upload-tarballs:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
      - pack-and-upload-macos-installer:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
      - pack-and-upload-windows-installer:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
      - promote-stable-rc-tarballs:
          filters:
            branches:
              only:
                - main
          requires:
            - pack-and-upload-tarballs
      - promote-stable-rc-mac:
          filters:
            branches:
              only:
                - main
          requires:
            - pack-and-upload-macos-installer
      - promote-stable-rc-win:
          filters:
            branches:
              only:
                - main
          requires:
            - pack-and-upload-windows-installer
      - promote-channels:
          filters:
            branches:
              only:
                - main
