name: docker-slim
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: version to build from tarball, ex 7.155.0
  workflow_call:
    inputs:
      version:
        type: string
        required: true

jobs:
  buildTestPush:
    runs-on: ubuntu-latest
    steps:
      # Limitation: versions file will contain the last 20 releases
      - id: versionCurl
        name: Get url for version
        run: echo "::set-output name=url curl 'https://developer.salesforce.com/media/salesforce-cli/sfdx/versions/sfdx-linux-x64-tar-xz.json' | jq '.[\"${{ inputs.version }}\"]'"

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: salesforce/salesforcedx

      - name: Build for verification
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          tags: salesforce/salesforcedx:${{ inputs.version }}-slim
          file: .dockerfiles/Dockerfile_slim
          build-args: |
            DOWNLOAD_URL=${{ steps.versionCurl.outputs.url }}

      - name: Verify slim dependencies
        run: |
          TAG=echo "salesforce/salesforcedx:${{ inputs.version }}-slim"
          SFDX_CLI_VERSION="$(docker run -it --rm salesforce/salesforcedx:$TAG bash -c 'sfdx --version')"
          JAVA_VERSION="$(docker run -it --rm salesforce/salesforcedx:$TAG bash -c 'java --version | head -n 1')"
          if [[ ((`echo $SFDX_CLI_VERSION | grep -c "sfdx-cli/"` > 0))]]
          then
            echo "sfdx-cli installed -" $SFDX_CLI_VERSION
          else
            echo "The sfdx-cli installation could not be verified"
            exit 1
          fi
          if [[ ((`echo $JAVA_VERSION | grep -c "openjdk"` > 0))]]
          then
            echo "Java installed -" $JAVA_VERSION
          else
            echo "The Java installation could not be verified"
            exit 1
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          file: .dockerfiles/Dockerfile_slim
          build-args: |
            DOWNLOAD_URL=${{ steps.versionCurl.outputs.url }}
          tags: salesforce/salesforcedx:latest-rc-slim, salesforce/salesforcedx:${{ inputs.version }}-slim
